#keep this in sync with the real .secrets.env
HTTP_PORT=4000
HTTPS_PORT=4443
SECRET_KEY_BASE=cY7KauItLRmlNe64g53+LFd6fLD6tvXKVB3Bhu4LdytZzVnxLaRBTT5YGrOiqCQp
PHX_HOST=beastyboi
POOL_SIZE=10
LOG_LEVEL=debug
KEY_FILE=priv/cert/selfsigned_key.pem
CERT_FILE=priv/cert/selfsigned.pem
PHX_SERVER=true
